body {
  margin: 0;
  background-color: #09070f;
  color: #ffffff;
  font-family: system-ui, sans-serif;
  display: block;
    min-height: 100vh;
}

.overlay {
    position: fixed;       /* cố định theo màn hình, không cuộn theo nội dung */
    top: 0;
    left: 0;
    width: 100vw;          /* phủ toàn bộ chiều ngang */
    height: 70px;         /* phủ toàn bộ chiều dọc */
    z-index: 9999;  /* nằm trên cùng */
    background: rgba(255, 255, 255, 0.36);
}
.overlay::before,
.overlay::after {
    content: "";
    position: absolute;
    background: rgb(255, 255, 255);
}


