body {
  margin: 0;
  background-color: #09070f;
  color: #ffffff;
  font-family: system-ui, sans-serif;
  display: block;
    min-height: 100vh;
}

.overlay {
    position: fixed;       
    top: 0;
    left: 0;
    width: 100vw;          
    height: 70px;         
    z-index: 9999; 
    background: rgba(255, 255, 255, 0.36);
}
.overlay::before,
.overlay::after {
    content: "";
    position: absolute;
    background: rgb(255, 255, 255);
}

.line-separate-css{
    margin-top: 15px;
    padding: 0.1px;
    border: none;
    color: white;
    background-color: #ffffff;
}

.left-side-css{
    border-left: 2px solid rgb(226, 34, 34);
    height: 100vh;             
    position: fixed;            
    margin-left: 70px;  
    display: flex;
}


.header-css{
    display: flex;
    flex-direction: row;
}

.leftbar-css{
    display: flex;
    flex-direction: column; 
}

.line-css{
    background: black;
    margin-top: 20px;
    margin-left: 20px;
    cursor: pointer;
    width: 35px;
    height: 30px;
    align-items: center;

    border-color: red;
    /* border: none; */
}

.home-css{
    width: 120px;
    height: 35px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 80px;
    background: black;

    /* border: none; */
    border-color: red;
}
.search-bar{
    width: 550px;
    height: 38px;
    cursor:auto;
    margin-top: 10px;
    margin-left: 260px;
    display: flex;
    align-items: center;
    background: black;
    color:white;

    border-radius: 20px;
    border-color: red;
}

.content-css{
    display: flex;
    margin-top: 80px;
    margin-left: 90px;
}

.button-bar{
    height: 70px;
    width: 63px;
    
    cursor: pointer;
    margin-left: 5px;
    margin-top: -15px;
    margin-bottom: 25px;
    background-color: #09070f;

    /* border: 1px solid white; */
    border-color: red;
}

.sidebar {
    position: fixed;
    margin-top: 20px;
    width: 150px;
    height: 100%;
    background-color: #000000;
    color: white;
    transition: transform;
    transform: translateX(-100%); /*hide it*/
    z-index: 0;
    padding: 20px;
}

.sidebar.open {
  transform: translateX(0) ;
}

.content {
  flex: 1;
  transition: margin-left;
  margin-left: 0;
  padding: 20px;
}

.content.shifted {
  margin-left: 100px;
}

